html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  background: rgb(84,213,13);
  background: linear-gradient(149deg, rgba(139,238,84,1) 0%, rgba(187,255,97,1) 44%, rgba(0,151,198,1) 100%);

}